.upload-page {
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dropzone {
    border: 2px dashed white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
  }
  
  .dropzone p {
    color: white;
  }
  
  .spinner-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .spinner-message {
    color: white;
    margin-top: 10px;
  }
  